#b1,#green{
    background-color: green;
}
#b2,#red{
    background-color:red;
}
#b3,#blue{
    background-color:blue;
}

/* POUR TOGGLE */

/* .green{
    color: green;
}
.red{
    color: red;
}
.blue{
    color: blue;
} */

